{% extends "base.html" %}

{% block title %}About - Bridgy{% endblock %}

{% block body_class %} about {% endblock %}

{% block content %}

<li id="what" class="question">What is this?</li>
<li class="answer">
<p>Bridgy adds social media reactions to posts on your web site. It can also cross-post from your site <em>to</em> social networks. And more!
</p>

<p>A picture is worth a thousand words, so here's Bridgy at work
<a href="https://snarfed.org/2014-01-15_a-new-kingdom#comments"
   target="_blank">on my own site</a>:
</p>

<br />
<p>
<a href="https://snarfed.org/2014-01-15_a-new-kingdom#comments" target="_blank">
 <img id="screenshot" src="/static/example_post_screenshot.png"
      style="border: 1px solid lightgray; max-width: 100%" />
</a></p>
<br />

<p>Bridgy is part of the
<a href="https://indieweb.org/">IndieWeb</a> ecosystem. In IndieWeb terminology,
Bridgy offers
<a href="https://indieweb.org/backfeed">backfeed</a>,
<a href="https://indieweb.org/POSSE">POSSE</a>, and
<a href="http://indiewebify.me/#send-webmentions">webmention</a> support as a
service.</a>
</p>

<p>Read on for more details, or
<a href="/">head to the front page</a> to sign up and get started!</p>
</li>


<br />
<ul class="about">
<p><em>General</em></p>
<li><a href="#how">How does it work?</a></li>
<li><a href="#cost">How much does it cost?</a></li>
<li><a href="#privacy">What do you do with my data?</a></li>
<li><a href="#who">Who are you? Why did you make this?</a></li>
<li><a href="#history">How long has this been around?</a></li>
<li><a href="#stats">How big is this?</a></li>
<li><a href="#rip-facebook">What happened to Facebook?</li>
<li><a href="#rip-google+">What happened to Google+?</li>
<li><a href="#profile-link">Why does my web site URL need to be in my social
  network profile?</a></li>
<li><a href="#add-remove-url">How do I add or remove a web site URL from
  my Bridgy profile?</a></li>
<li><a href="#disconnected">Bridgy stopped working for me!</a></li>
<li><a href="#security">It looks like anyone can poll or disable my
  account or publish as me. Isn't that a security hole?</a></li>
<li><a href="#registration-api">Can users sign up for Bridgy
  without leaving my site or application?</a></li>
<li><a href="#permissions">Why does Bridgy ask for all these permissions?</a></li>
<li><a href="#api">Does Bridgy have an API?</a></li>
<li><a href="#gdpr">Does Bridgy comply with the GDPR?</a></li>
<li><a href="#bug">I found a bug! I have a feature request!</a></li>
<li><a href="#cute">Brid.gy? Really?</a></li>

<br />
<p><em>Pulling back responses</em></p>
<li><a href="#which">Which things does it send, specifically?</a></li>
<li><a href="#accept">How can I get my web site to accept
  webmentions?</a></li>
<li><a href="#missing">Bridgy isn't seeing one of my comments or
  likes or reshares!</a></li>
<li><a href="#profile-links">Bridgy can't find my original posts! It just
  says <em>No webmention targets found</em>.</a></li>
<li><a href="#link">Do my posts really need to link to my web site?</a></li>
<li><a href="#domain">Bridgy used to find my syndication links, but
  then it stopped.</a></li>
<li><a href="#order">Why are the Bridgy comments on my site out of order?</a></li>
<li><a href="#appspot">What are all these brid-gy.appspot.com links
  in the comments that Bridgy sends to my site?</a></li>
<li><a href="#ssl">OK, fine. But why brid-gy.appspot.com instead of
  brid.gy?</a></li>
<li><a href="#source-urls">What's the format for Bridgy's webmention
  source URLs?</a></li>

<br />
<p><em>Publishing</em></p>
<li><a href="#publishing">What do you mean, <em>publishing</em>?</a></li>
<li><a href="#microformats">How does it decide which parts of my web page to include?</a></li>
<li><a href="#publish-types">What can I publish, exactly?</a></li>
<li><a href="#webmentions">Can I do this automatically, whenever
  I post something new on my web site?</a></li>
<li><a href="#reply">How do I reply to a tweet from my web site?</a></li>
<li><a href="#like">How do I like or retweet from my web site?</a></li>
<li><a href="#picture">How do I post a picture?</a></li>
<li><a href="#video">How do I post a video?</a></li>
<li><a href="#person-tag">How do I tag someone in a post?</a></li>
<li><a href="#location">How do I include location in a post?</a></li>
<li><a href="#quote-tweet">How do I post a quote tweet?</a></li>
<li><a href="#delete">How do I delete a tweet?</a></li>
<li><a href="#github-issue-comment">How do I create a GitHub issue or comment?</a></li>
<li><a href="#github-reaction">How do I post an emoji reaction on a GitHub issue or PR?</a></li>
<li><a href="#add-label">How do I add a label to a GitHub issue?</a></li>
<li><a href="#github-star">How do I star a GitHub repo?</a></li>
<li><a href="#omit-link">Can I disable the link back to my post?</a></li>
<li><a href="#ignore-formatting">Can I disable the plain text whitespace and
  formatting?</a></li>
<li><a href="#silo-content">I want more control over the text that gets posted.</li>
<li><a href="#multiple-types">What if my original post does more than one thing?</li>
<li><a href="#short-link">Can I include a short link instead of the full link?</a></li>
<li><a href="#response">How does Bridgy respond to webmentions?</a></li>
<li><a href="#error-response">How about error responses?</a></li>
<li><a href="#silos">Why not Instagram?</a></li>
<li><a href="#401">I'm getting a <em>401: Unauthorized</em> error when I try
   to publish to Twitter.</a></li>
<li><a href="#extended-tweets">Can I take advantage of Twitter's new extended tweet character counting?</a></li>
<li><a href="#reply-mention">When I repy to a tweet, do I need to @-mention that tweet's author?</a></li>

<br />
<p><em>Webmentions for blogs</em></p>
<li><a href="#blogs">What is this?</a></li>
<li><a href="#outgoing">What outgoing webmentions does it send from my
  blog?</a></li>
<li><a href="#incoming">What does it do with incoming webmentions send to my
  blog?</a></li>
<li><a href="#endpoint">Why do I have to add a line of HTML to
  my blog?</a></li>
<li><a href="#disqus">I'm on Tumblr. Why do I have to install Disqus?</a></li>
<li><a href="#medium">I'm on Medium. Why doesn't Bridgy give me incoming
  webmentions?</li>
<li><a href="#medium-mf2">I'm on Medium. Why do my webmentions look ugly and
  empty on their target pages?</li>
<li><a href="#moderation">I received a webmention, but it's not
  showing up on my blog.</a></li>
<li><a href="#user">All the comments for incoming webmentions come from me.
That's ugly.</a></li>

</ul>
<br />
<div>

<ul class="about">


<!-- General -->
<li id="how" class="question">How does it work?</li>
<li class="answer">
<p>
Bridgy periodically checks social networks for responses to your posts and
<a href="https://indieweb.org/original-post-discovery">links to your web
site</a> and sends them back to your site
as <a href="http://indiewebify.me/#send-webmentions">webmentions</a>. Bridgy
also translates the responses
to <a href="http://microformats.org/">microformats</a> so that your web site can
fetch and parse them.
</p>
<p>
Bridgy can also publish posts, comments, likes, and retweets from your web
site <em>to</em> social networks. When you ask Bridgy to publish a post, it
analyzes its microformats data and publishes it using the social network APIs.
</p>
<p>Bridgy is <a href="https://github.com/snarfed/bridgy">open source</a>. It's
written in Python and runs on
<a href="https://cloud.google.com/appengine/">Google App Engine</a>. It uses
<a href="https://github.com/snarfed/oauth-dropins">oauth-dropins</a> to let
users connect to the silos,
<a href="https://github.com/snarfed/granary">granary</a>
to fetch data from the silos and convert it to a standard format, and
<a href="https://github.com/vrypan/webmention-tools">webmention-tools</a> to
send webmentions.
</p>
</li>

<li id="cost" class="question">How much does it cost?</li>
<li class="answer">
<p>Nothing! We have <a href="https://www.color.com/">great day jobs</a>, and
Bridgy is small, so thanks to <a href="https://cloud.google.com/appengine/">App
Engine</a>, it doesn't cost much to run. We don't need donations, promise.
</p>
<p>If you <em>really</em> want to
contribute, <a href="https://github.com/snarfed/bridgy/issues">file an issue</a>
or <a href="https://github.com/snarfed/bridgy">send a pull request</a>, or
<a href="https://opencollective.com/indieweb">donate to the IndieWeb</a>!
</p></li>

<li id="privacy" class="question">What do you do with my data?</li>
<li class="answer">
<p>Nothing! Bridgy isn't a business, and never will be, so we don't have the same
motivations to abuse your data that other services might. More concretely, we
won't ever send you email, we store as little of your
<a href="http://en.wikipedia.org/wiki/Personally_identifiable_information">PII</a>
(personally identifiable information) as possible, and we <em>never</em> have
access to any of your passwords.
</p>
</li>

<li id="who" class="question">Who are you? Why did you make this?</li>
<li class="answer">
<p>
We're <a class="h-card" href="https://snarfed.org/">Ryan Barrett</a>,
<a class="h-card" href="https://kylewm.com/">Kyle Mahan</a>, and
<a href="https://github.com/snarfed/bridgy/graphs/contributors">many other
contributors</a>. We're just normal people who
<a href="https://snarfed.org/2012-07-25_why_i_have_my_own_web_site">like the
web</a> and like <a href="https://indieweb.org/why">owning our data</a>.
</p>
</li>

<li id="history" class="question">How long has this been around?</li>
<li class="answer">

<p>Ryan conceived of the idea behind Bridgy in early 2011, started working on it that summer, and <a href="https://snarfed.org/2012-01-08_bridgy_launched">launched the first version</a> on Jan. 8 2012. It only supported <a href="http://wordpress.org/">WordPress</a>, and wasn't very polished, so it never got much adoption.
</p>
<p>He launched the current version on Dec. 9, 2013. It's been more successful, thanks in large part to <a href="http://indiewebify.me/#send-webmentions">webmentions</a> and the inspiration of the <a href="https://indieweb.org/why">IndieWeb community</a>.
</p>
</li>

<li id="stats" class="question">How big is this?</li>
<li class="answer">
<p>Check out the <a href="/#stats">stats on the front page</a>!</p>
</li>

<a id="facebook-publish"></a>
<li id="rip-facebook" class="question">What happened to Facebook?</li>
<li class="answer">
<p>Facebook is no longer supported. So long, and thanks for all the fish!</p>

<p>Bridgy included support Facebook from the very beginning, <a href="https://snarfed.org/2012-01-08_bridgy_launched">when it launched in January 2012</a>. After the <a href="https://www.theverge.com/2018/4/10/17165130/facebook-cambridge-analytica-scandal">Cambridge Analytica scandal</a> broke, Facebook started limiting its API in a number of ways. Notably, <a href="https://developers.facebook.com/blog/post/2018/04/24/new-facebook-platform-product-changes-policy-updates/">it disabled RSVPing on April 24, 2018, posting on August 1, 2018,</a> and <a href="https://developers.facebook.com/blog/post/2018/05/01/facebook-login-updates-further-protect-privacy/">reading other people's comments and likes on May 24, 2018</a>, which killed Bridgy for Facebook entirely. Gory details in <a href="https://github.com/snarfed/bridgy/issues/826">these</a> <a href="https://github.com/snarfed/bridgy/issues/817">issues</a>. RIP, we'll miss you!</p>

<p>If you're brave and want to live on the bleeding edge, we've been experimenting with a replacement based on <a href="https://www.facebook.com/help/530847210446227/">Facebook's email notifications</a>. <a href="https://github.com/snarfed/bridgy/issues/854">Add a comment here</a> if you want to try it!</p>
</li>

<li id="rip-google+" class="question">What happened to Google+?</li>
<li class="answer">
<p>Bridgy included support Google+ from the very beginning, <a href="https://snarfed.org/2012-01-08_bridgy_launched">when it launched in January 2012</a>. Sadly, Google+ <a href="https://developers.googleblog.com/2018/12/google-apis-shutting-down-march-7-2019.html">turned off its API in February 2019</a> and <a href="https://support.google.com/plus/answer/9217723">shut down entirely in April</a>, at least for end users. Gory details in <a href="https://github.com/snarfed/bridgy/issues/846">this issue</a>. RIP, we'll miss you!
</p>
</li>

<li id="profile-link" class="question">Why does my web site URL need to be in my
  social network profile?</li>
<li class="answer">
<p>First, if you want to <a href="#publish">publish</a>, Bridgy uses this link
to connect your web site to your social network account. Second, if you want to
get responses without linking your posts to your web site, Bridgy uses this link
to <a href="#link">fetch syndication URLs</a> from your site so it can map back
from your posts.</p>
<p>Note that if the web site URL used in your social network profile contains
a path, Bridgy will look for a rel="me" link from the root of your domain, to
that path. If the link is found, Bridgy will publish posts from any path on
your domain to your social network profiles. If the link isn't found, Bridgy
will only publish posts from your domain that contain the original path. This is
to support sites that allow multiple users per domain.</p>
</li>

<li id="add-remove-url" class="question">How do I add or remove a web site URL from
  my Bridgy profile?</li>
<li class="answer">
<p>Just add it to or remove it from your social network profile
(<a href="#multiple+web+site">details</a>), then log into Bridgy with that
social network again. Et voilà!
</p></li>

<li id="disconnected" class="question">Bridgy stopped working for me!</li>
<li class="answer">
<p>Does your Bridgy user page have a
<span class="glyphicon glyphicon-pause"></span> icon on it? If so, Bridgy has
lost access to your account. This can happen when you change your password, when
Bridgy's access expires or is revoked, or for other reasons.</p>
<p>To fix this, just click on the
<span class="glyphicon glyphicon-pause"></span> icon on your user page.
</p></li>

<li id="security" class="question">It looks like anyone can poll or disable my
account or publish as me. Isn't that a security hole?</li>
<li class="answer">
<p>Looks can be deceiving. Polling is harmless - Bridgy does it automatically
anyway - and when you publish a post or try to disable an account, we check that
you own it first. If you <a href="#webmentions">publish via webmention</a>, we
<a href="#webmentions">require a Bridgy Publish backlink</a>
in your post.
</p>
</li>

<li id="registration-api" class="question">Can users sign up for Bridgy
without leaving my site or application?</li>
<p>Not exactly, but you can get close. Direct your users to
<code>POST</code> to a Bridgy registration URL of the
form <code>https://brid.gy/SITE/start</code> (where SITE is
<code>twitter</code>, <code>googleplus</code>,
<code>instagram</code>, <code>flickr</code>, or <code>github</code>) with the
parameters:</p>
<ul>
<li><code>feature</code>, a comma-separated list of features,
usually <code>listen</code>, <code>publish</code>,
or <code>listen,publish</code></li>
<li><code>callback</code>, a URL pointing back to your site</li>
<li> <code>user_url</code> (required for Instagram, optional otherwise), the
user's URL. Allows callers to set this value without requiring it to be present
in the user's silo profile</li>
</ul>
<p>They will be ushered through the registration process and sent back to
your site when it finishes.</p>
<p>For example:</p>
<pre>
POST <a href="https://brid.gy/twitter/start">https://brid.gy/twitter/start</a>
<span class="keyword">feature=</span><span class="value">listen,publish</span>&amp;<span class="keyword">callback=</span><span class="value">http%3A%2F%2Fexample.com%2Fbridgy-callback</span>
</pre>
<p>The callback will be passed back query parameters:</p>
<ul>
  <li><code>result</code> equal to <code>success</code>, <code>failure</code>, or <code>declined</code></li>
  <li><code>user</code> (if successful) equal to their Bridgy user page URL</li>
</ul>

<li id="permissions" class="question">Why does Bridgy ask for all these permissions?</li>
<li class="answer">
<p>Bridgy needs various permissions to access each social network accounts you connect. It prompts you when you first connect an acount, and also when you enable <a href="#listen">listening</a> or <a href="#publish">publishing</a> afterward. It <a href="https://en.wikipedia.org/wiki/Principle_of_least_privilege">asks for as little access as possible</a>, to only public data, but still often has to ask for more access than it needs, since many social networks have overly coarse permissions. Details:
</p>
<ul>
  <li><b>Blogger</b> doesn't have permissions at all, <a href="https://developers.google.com/blogger/docs/2.0/developers_guide_protocol#OAuth2Authorizing">just full access or none.</a> <a href="/static/permissions_screenshots/blogger.png">Screenshot.</a></li>
  <li><b>Flickr</b> has <a href="https://www.flickr.com/services/api/auth.oauth.html#authorization">read, write, and delete permissions</a>. We ask for read for listen, write for publish. Screenshots: <a href="/static/permissions_screenshots/flickr_read.png">listen</a>, <a href="/static/permissions_screenshots/flickr_write.png">publish</a>.</li>
  <li><b>GitHub</b> has a few different permission models. We use an <a href="https://developer.github.com/apps/building-oauth-apps/scopes-for-oauth-apps/">OAuth app</a> to request read/write permission to public repository data, and notifications to see new comments and reactions. The alternative would have been a <a href="https://developer.github.com/apps/building-github-apps/">GitHub app,</a> which lets you grant read vs write permission to individual repos, but includes private repos, and doesn't include notifications. <a href="https://developer.github.com/apps/differences-between-apps/">More on the tradeoff here.</a> <a href="/static/permissions_screenshots/github.png">Screenshot.</a></li>
  <li><b>Instagram</b> turned off their API for individual usage, so we just ask for your web site, via <a href="https://indieauth.com/">IndieAuth</a>, and your Instagram username. <a href="/static/permissions_screenshots/instagram_indieauth.png">Screenshot.</a></li>
  <li><b>Medium</b> has <a href="https://github.com/Medium/medium-api-docs/#user-content-21-browser-based-authentication">a few different permissions</a>. We ask for read acces to your profile, public posts, and publications. <a href="/static/permissions_screenshots/medium.png">Screenshot.</a></li>
  <li><b>Tumblr</b> doesn't have permissions at all, <a href="https://www.tumblr.com/docs/en/api/v2#oauth">just full access or nothing.</a> <a href="/static/permissions_screenshots/tumblr.png">Screenshot.</a></li>
  <li><b>Twitter</b> <a href="https://developer.twitter.com/en/docs/basics/authentication/overview/application-permission-model">distinguishes between read and write access,</a> but not between different types of data. We ask for read access to your tweets and profile for listen, write access for publish. We don't ask for access to your direct messages. Screenshots: <a href="/static/permissions_screenshots/twitter_read.png">listen</a>, <a href="/static/permissions_screenshots/twitter_write.png">publish</a>.</li>
  <li><b>WordPress.com</b>: doesn't have permissions at all, <a href="https://developer.wordpress.com/docs/oauth2/">just full access or nothing.</a> We ask for read and write access to a single blog that you specify, so we can see and handle new blog posts and to create comments. <a href="/static/permissions_screenshots/wordpress.com.png">Screenshot.</a></li>
</ul>
</li>

<li id="api" class="question">Does Bridgy have an API?</li>
<li class="answer">
<p>Yes! In the spirit
of <em><a href="https://aaronparecki.com/2015/04/26/22/html-is-my-api">HTML is
my API</a></em>, Bridgy's HTML is its API. User pages
(e.g. <a href="/twitter/schnarfed">/twitter/schnarfed</a>)
include standard and custom
<a href="http://microformats.org/wiki/microformats2">microformats2</a>
properties that you can use to get information about users and their
<a href="#listen">responses</a>,
<a href="#publish">publishes</a>, and
<a href="#blogs">blog posts</a>.
</p>
<p>
Here are the properties Bridgy uses:
</p>

<code><ul>
<li>h-card</li>
  <ul>
  <li>p-name</li>
  <li>u-url</li>
  <li>u-photo</li>
  <li>p-bridgy-account-status</li>
  <li>p-bridgy-listen-status</li>
  <li>p-bridgy-publish-status</li>
  <li>dt-bridgy-next-poll</li>
  <li>dt-bridgy-last-syndication-link</li>
  <li>dt-bridgy-last-webmention-sent</li>
  <li>dt-bridgy-last-refetched</li>
  </ul>

<li>h-bridgy-response h-bridgy-{post,comment,like,repost,rsvp}</li>
  <ul>
  <li>u-name</li>
  <li>dt-updated</li>
  <li>u-bridgy-syndication-source</li>
  <li>u-bridgy-original-source</li>
  <li>u-bridgy-target</li>
  <li>p-bridgy-status</li>
  <li>u-bridgy-log</li>
  </ul>

<li>h-bridgy-publish h-bridgy-{preview,post,photo,comment,like,repost,rsvp}</li>
  <ul>
  <li>u-name</li>
  <li>dt-updated</li>
  <li>u-url</li>
  <li>u-syndication</li>
  <li>p-bridgy-status</li>
  <li>u-bridgy-log</li>
  </ul>

<li>h-bridgy-blogpost</li>
  <ul>
  <li>u-name</li>
  <li>dt-updated</li>
  <li>u-url</li>
  <li>u-bridgy-target</li>
  <li>p-bridgy-status</li>
  <li>u-bridgy-log</li>
  </ul>

</ul></code>
</li>

<li id="gdpr" class="question">Does Bridgy comply with the GDPR?</li>
<li class="answer">
<p>Um...maybe?</p>
<p>The <a href="https://www.eugdpr.org/">EU General Data Protection Regulation</a> aka GDPR (<a href="https://indieweb.org/GDPR">more details</a>) is a sweeping new set of data privacy laws that take effect May 2018.</p>
<p>A few of us (including a GDPR lawyer) took a look at Bridgy, and we think it <em>may</em> be exempt from much of the GDPR:</p>
<ul>
<li>It only handles fully public data. <a href="https://gdpr-info.eu/art-9-gdpr/">Article 9.2.e</a> exempts processing that <em>relates to personal data which are manifestly made public by the data subject.</em></li>
<li>The vast majority of Bridgy's user data is from or for personal web sites. <a href="https://gdpr-info.eu/art-2-gdpr/">Article 2</a> says <em>personal data...by a natural person in the course of a purely personal or household activity</em> is exempt.</p>
<li>Bridgy is a small non-commercial project with no revenue. <a href="https://gdpr-info.eu/recitals/no-18/">Recital 18</a> says <em>This Regulation does not apply to the processing of personal data...with no connection to a professional or commercial activity.</em></li>
</ul>
<p>The GDPR does require us to provide a full export of a user's data (<a href="https://gdpr-info.eu/art-15-gdpr/">15.1, 15.3</a>, <a href="https://gdpr-info.eu/art-20-gdpr/">20</a>), delete that data (<a href="https://gdpr-info.eu/art-17-gdpr/">17</a>), or terminate their account (<a href="https://gdpr-info.eu/art-17-gdpr/">17</a>) upon request. Bridgy currently lets you terminate (disable) your account, but I don't plan to build automated export or delete. I will happily do it <a href="https://indieweb.org/manual_until_it_hurts">manually until it hurts</a>, though!</p>
<p>Bridgy is a small free service with a small user base. Even if it doesn't comply, I don't expect anyone to care much. I don't plan to spend much more time or effort researching until someone convinces me I need to. (Sorry!)</p>
<p>Also, this analysis only applies to Bridgy itself. For web sites that receive and display webmentions from Bridgy, see <a href="https://sebastiangreger.net/2018/05/indieweb-privacy-challenge-webmentions-backfeeds-gdpr/"><em>The Indieweb privacy challenge (Webmentions, silo backfeeds, and the GDPR)</em></a>, <a href="https://ascraeus.org/micro/1525556293/">Daniel Goldsmith's response</a>, and other similar articles for deeper takes on both the legalities and the ethics.</p>
</li>

<li id="bug" class="question">I found a bug! I have a feature request!</li>
<li class="answer">
<p>Great! Please <a href="https://github.com/snarfed/bridgy/issues">file it in
GitHub</a>. Thank you!
</p>
</li>

<li id="cute" class="question">Brid.gy? Really?</li>
<li class="answer">
<p>Yeah, we know. We're not proud of the cutesy domain name either. Just go with it.
</p>
</li>


<!-- Listen -->
<br />
<h3 id="listen">Pulling back responses</h3>

<li id="which" class="question">Which things does it send, specifically?</li>
<li class="answer">
<p>Bridgy detects and sends webmentions for:</p>
<ul>
<li>Twitter
  <a href="https://support.twitter.com/articles/14023-what-are-replies-and-mentions">@-replies</a>,
  retweets, quote tweets, and likes of your tweets.</li>
<li>Tweets from other people that
  <a href="https://support.twitter.com/articles/14023-what-are-replies-and-mentions">@-mention</a>
  you or contain links to your site.</li>
<li>Instagram comments and likes on your pictures.</li>
<li>Flickr comments and favorites on your photos.</li>
<li>GitHub comments and emoji reactions on your issues and pull requests.</li>
</ul>
</li>
</p></li>

<li id="accept" class="question">How can I get my web site to accept
  webmentions?</li>
<li class="answer">
<p>Webmentions are pretty new, but many web servers already support them. If
you're on Blogger, Medium, Tumblr, or WordPress.com, <a href="/">you can sign
your blog up with Bridgy</a> to accept webmentions. If you're on self-hosted
WordPress,
<a href="http://wordpress.org/plugins/indieweb/">install the Indieweb
plugin</a>. Otherwise,
<a href="https://indieweb.org/webmention#Publishing_Software">check out the
Indiewebcamp wiki</a> for a list of options.
</p>

<span id="realtime"></span>
<li id="missing" class="question">Bridgy isn't seeing one of my comments or
  likes or reshares!</li>
<li class="answer">
<p>This can happen for a number of different reasons.</p>
<ul>
<li><p>Bridgy doesn't work immediately. It checks your accounts for new activity
periodically, every 30 minutes or so depending on the site. This drops down
to once a day if you've been signed up for over a week and we haven't
successfully sent you a webmention yet, or the last one we sent was over a month
ago.
</p>
<p>(Twitter likes and retweets used to be an exception, since Bridgy used <a href="https://developer.twitter.com/en/docs/tweets/filter-realtime/overview">Twitter's (old) Streaming API</a> for a while, but <a href="https://github.com/snarfed/bridgy/issues/57">not any more</a>.)
</p></li>
<li>Does the social network post have a link to your web site's post? If not,
does your web site's post have a
<a href="#link">rel-syndication link</a> to the social network post?
Bridgy needs at least one or the other so it can connect the two posts.
</li>
<li>If it's a response, did you write the original post yourself? Bridgy doesn't
crawl responses to other people's posts, even if they have links to your web
site. It only sends back responses to <em>your</em> posts.
</li>
<li id="public">Is the post fully public? And the response too? Bridgy only shows and sends webmentions for fully public posts and responses. If your Twitter account is <a href="https://help.twitter.com/en/safety-and-security/public-and-protected-tweets">protected</a>, Bridgy won't see it.
</li>
<li>Is it on an older post? Bridgy only looks at your 50 most recent posts. It
doesn't go back arbitrarily far because that doesn't scale. You can get around
this for an individual response by
<a href="https://indieweb.org/webmention#How_to_Test_Webmentions">sending a
webmention manually</a>. <a href="#source-urls">Here's how to
construct the source URL.</a>
</li>
<li>Are you using a <a href="#link">syndication link</a>? If so, Bridgy may have
fetched your post before you added the link. When that happens, Bridgy waits up
to two hours before it refetches your post and reloads syndication links. Try
clicking the <em>Crawl now</em> button on your user page.
</li>
<li>Twitter responses can be flaky for a number of reasons:
  <ul>
  <li>@-replies are only included if they <a href="https://support.twitter.com/articles/14023-what-are-replies-and-mentions">@-mention</a> you. Twitter's API <a href="https://twittercommunity.com/t/replying-fetching-for-tweet/31307/1">doesn't have a way to get a tweet's replies</a>, so Bridgy searches for @-mentions of the tweet's author to find its replies. That means it can't always find replies that omit the @-mention. (This requirement has become complicated and unclear now that Twitter hides/omits @-mentions in replies, but they're kind of still there under the covers, somewhat, sometimes.)
  </li>

  <li>Also, Bridgy uses Twitter's <a href="https://developer.twitter.com/en/docs/tweets/search/overview/standard">Standard Search API</a>, which only includes the last 7 days, and is best effort only, ie doesn't guarantee that it returns all matching tweets for a search. So, every now and then it may not find a reply, or a tweet that links to your site, which means Bridgy will miss it. Sadface.
  </li>

  <li>Twitter likes (née favorites) are sadly best effort only. <a href="https://twittercommunity.com/t/list-of-people-who-favorited-a-particular-tweet/11083/8">Their API still doesn't have a way to get a tweet's likes</a>, so <a href="https://github.com/snarfed/bridgy/issues/61">we have to scrape them from the web</a>, which only shows the latest 25. So <a href="https://github.com/snarfed/bridgy/issues/73">if you get more than 25 new likes</a> between two times that Bridgy polls your Twitter account, we'll miss the rest in that period.
  </li>
  <li>Retweets are also flaky occasionally. We've seen the API report <code>retweet_count: 0</code> in tweets that do have retweets.
  </li>
  </ul>
<li>Instagram likes are even worse than Twitter likes. They <a href="https://github.com/snarfed/bridgy/issues/722">only show the first 10 individual likes per photo on the web</a>, and a total count after that, so Bridgy can only backfeed the first 10 likes.
</li>
<li>Have you blocked the author inside the silo? If so, Bridgy won't send you any of their responses. (This is <a href="https://github.com/snarfed/bridgy/issues/764">best effort only for Twitter</a>, due to <a href="https://developer.twitter.com/en/docs/accounts-and-users/mute-block-report-users/api-reference/get-blocks-ids#resource-information">their API's rate limits</a>. In practice, Bridgy will only filter out responses from the first 40,000 users on your Twitter block list.)
</li>
<li>Currently, GitHub responses require a <a href="#link">syndication link on the original post on your web site</a> (<a href="https://chat.indieweb.org/dev/2018-02-26#t1519610412751400">background</a>). They're also currently best effort only. <a href="https://developer.github.com/v3/">Their API</a> is almost entirely broken down by user and repository, so there's no good way to ask for all recent responses to your posts. We get close by using their <a href="https://developer.github.com/v3/activity/notifications/">Notifications API</a>, which is good, but not always comprehensive. Apologies!
</li>
</ul>
</li>

<li id="link" class="question">Do my posts really need to link to my web site?</li>
<li class="answer">
<p>Nope! If your social network profile has a link to your web site, Bridgy will
fetch it and run
<a href="https://indieweb.org/posse-post-discovery#Algorithm">posse-post-discovery</a>
to find matching posts on your site. You'll need to include
<a href="http://microformats.org/wiki/h-entry#Core_Properties">u-url</a> and
<a href="https://indieweb.org/rel-syndication#How_to_publish">u-syndication</a>
links in those posts, and your home page (or wherever the link in your profile
points) will need either:
<ul>
<li>a top-level <a href="http://microformats.org/wiki/h-feed">h-feed</a>
  with <a href="http://microformats.org/wiki/h-entry">h-entry</a>s
</li>
<li>top-level <a href="http://microformats.org/wiki/h-entry">h-entry</a>s
</li>
OR
<li>a <code>&lt;link rel="feed" href="..."&gt;</code> pointing to another page
  with top-level <a href="http://microformats.org/wiki/h-feed">h-feed</a> or
  <a href="http://microformats.org/wiki/h-entry">h-entry</a>s
</li>
</ul>

If the h-entries in your feed(s) don't have u-syndication links, Bridgy will
fetch their u-urls and look for u-syndication links there.
</p>

<p id="parse">You can enter your home page into an online microformats2 parser like
<a href="http://pin13.net/mf2/">pin13.net</a> or
<a href="http://mf2.kylewm.com/">mf2.kylewm.com</a> to check that it satisfies
these requirements.
</p>
</li>

<li id="domain" class="question">Bridgy used to find my syndication links, but
  then it stopped.</li>
<li class="answer">
<p>If your site includes <a href="#links">syndication links</a> in your feeds
(e.g. your homepage) as well as on individual posts, Bridgy skips fetching the
posts themselves. If you stop including syndication links in your feeds, click
the <em>Crawl now</em> button on your user page to tell Bridgy to start fetching
your permalinks again.</p></li>

<li id="profile-links" class="question">Bridgy can't find my original posts! It just
  says <em>No webmention targets found</em>.</li>
<li class="answer">
<p>Does your Bridgy user page have a link to your web site? Specifically, the
exact domain where your original posts are? If not, add that URL to your social
network profile, then log into Bridgy with that social network again. Bridgy
needs this to find your original posts <a href="#link">if you don't link to
them</a>, and it also uses it to
<a href="https://github.com/snarfed/bridgy/issues/51">distinguish between you
officially syndicating your posts and other people just mentioning them</a>.
</p>

<p>Twitter, Instagram, Flickr, and GitHub only allow one web site link in your profile, so Bridgy <a href="https://github.com/snarfed/bridgy/issues/483">also looks for links in your profile's description field</a>.</p>

<p>Also, if your web server has <a href="https://brotli.org/">Brotli compression</a> enabled, Bridgy won't work with it due to <a href="https://issuetracker.google.com/issues/112277350">this long-standing App Engine bug</a>. <a href="https://github.com/snarfed/bridgy/issues/878">More background.</a> Until this bug is fixed, we recommend disabling Brotli on your web server as a workaround.</p>
</li>

<li id="order" class="question">Why are the Bridgy comments on my site out of
 order?</li>
<li class="answer">
<p>Bridgy doesn't guarantee that webmentions for comments, likes, etc. will
always be sent in the same order that they happened inside the silo. If your
site renders webmentions in the order that it receives them, this may mean that
some will occasionally appear out of order.
</p>
<p>To help prevent this, Bridgy includes the
<a href="http://microformats.org/wiki/h-entry#Core_Properties">
 <code>dt-published</code> microformats2 timestamp property</a>
in responses whenever the silo's API or web site exposes it. Notably, it's
included in all comments/replies. If those
appear out of order on your site, file a feature request with your site's CMS or
webmention plugin to sort by <code>dt-published</code>!
<a href="https://github.com/idno/Known/issues/1104">Here's an example.</a>
</p></li>

<li id="appspot" class="question">What are all these brid-gy.appspot.com links
in the responses that Bridgy sends to my site?</li>
<li class="answer">
<p>Short answer: your
server's <a href="http://www.webmention.org/">webmention</a> code is probably
rendering the webmention source URL. It should instead use the source
page's <a href="http://microformats.org/wiki/h-entry#Properties">microformats2
u-url property</a>. This is a common oversight, since they're usually the same,
but Bridgy is a special snowflake. :P You might want to file a bug against your
server, or even fix it
yourself. <a href="https://github.com/idno/idno/issues/160">Here's an example
discussion.</a>
</p>
Longer answer: Webmentions</a> don't include the actual content of the response,
just a link to it. The recipient fetches that link and extracts the content and
other data using
<a href="http://microformats.org/wiki/microformats2">microformats2</a>. The
social networks don't (yet) support microformats2, so Bridgy translates their
data to microformats2 HTML and serves those translations as webmention targets
so that recipients can fetch and parse them.
<p>
</p></li>

<li id="ssl" class="question">OK, fine. But why brid-gy.appspot.com instead of
brid.gy?</li>
<li class="answer">
<p>It's an SSL thing. The <a href="https://brid.gy">brid.gy</a> domain fully
supports and uses SSL, but it uses
<a href="http://en.wikipedia.org/wiki/Server_Name_Indication">SNI</a>, a newer
SSL feature that some older clients and libraries have trouble with. Modern
browsers are generally fine, but when Bridgy sends a webmention, the
server that receives it also needs to understand SNI,
<a href="https://github.com/snarfed/bridgy/issues/20">and some</a>
<a href="https://github.com/aaronpk/webmention.io/issues/14">still don't</a>.
<a href="https://appspot.com/">appspot.com</a>'s SSL doesn't use SNI, so we use
it for webmention sources in order to be as compatible as possible.
</p></li>

<li id="source-urls" class="question">What's the format for Bridgy's webmention
  source URLs?</li>
<li class="answer">
<p>If you're missing a response (<a href="#missing">it can happen</a>), you can
fill it in by
<a href="https://indieweb.org/webmention#How_to_Test_Webmentions">sending a
webmention manually</a>. Here's how to construct Bridgy's source URLs:
</p>

<pre>/post/<span class='keyword'>SITE</span>/<span class='keyword'>USER_ID</span>/<span class='value'>POST_ID</span>
/comment/<span class='keyword'>SITE</span>/<span class='keyword'>USER_ID</span>/<span class='value'>POST_ID</span>/<span class='value'>COMMENT_ID</span>
/like/<span class='keyword'>SITE</span>/<span class='keyword'>USER_ID</span>/<span class='value'>POST_ID</span>/<span class='value'>LIKED_BY_USER_ID</span>
/repost/<span class='keyword'>SITE</span>/<span class='keyword'>USER_ID</span>/<span class='value'>POST_ID</span>/<span class='value'>SHARE_POST_ID</span>
</pre>

<p>Examples:</p>
<ul>
<li><a href="/post/twitter/schnarfed/476408043819659264">
  /post/twitter/schnarfed/476408043819659264
</a></li>
<li><a href="/comment/github/tantek/mozilla:standards-positions:155/mozilla:standards-positions:487311060">
  /comment/github/tantek/mozilla:standards-positions:155/mozilla:standards-positions:487311060
</a></li>
<li><a href="/like/flickr/36003160@N08/27058891471/25414664@N07">
  /like/flickr/36003160@N08/27058891471/25414664@N07
</a></li>
<li><a href="/repost/twitter/schnarfed/478564735265157120/478788580504899584">
  /repost/twitter/schnarfed/478564735265157120/478788580504899584
</a></li>
</ul>
<br />

<p>Details:</p>
<ul>
<li><code class='keyword'>SITE</code> is either
  <code>flickr</code>, <code>github</code>, <code>googleplus</code>,
  <code>instagram</code>, or <code>twitter</code>.
</li>
<li><code>/post/...</code> URLs aren't currently used by Bridgy itself, but
  they're fun to play with if you want to convert silo posts to
  microformats2.
</li>
<li>You can add <code>?format=json</code> to the end of any URL to get the
  JSON-formatted version.
</li>
<li>For Twitter, Instagram, and GitHub, <code class='keyword'>USER_ID</code> is your
  username, but for Flickr, it's your numeric user id.
  <code class='value'>LIKED_BY_USER_ID</code> and
  <code class='value'>RSVP_USER_ID</code> are always numeric. You
  can get numeric user ids from the API consoles
  (<a href="https://apigee.com/embed/console/twitter">Twitter's</a>) or
  from <a href="https://granary.io/">granary</a>.
</li>
<li>For Instagram, <code class='value'>POST_ID</code> is a numeric id,
  <em>not</em> the alphanumeric id in the photo's web URL. You can get a numeric
  id from <a href="https://granary.io/">granary</a>.
</li>
<li>If your webmention target complains about <code>brid.gy</code>'s SSL, try
<code>brid-gy.appspot.com</code> instead. <a href="#ssl">More details.</a>
</li>
</ul>
</li>


<!-- Publish -->
<br />
<h3 id="publish">Publishing</h3>

<li id="publishing" class="question">What do you mean, <em>publishing</em>?</li>
<li class="answer">
<p>People often post something on their web site, then post a link to it on
Twitter or elsewhere so that other people will see it. The
<a href="https://indieweb.org/">IndieWeb</a> community calls this
<a href="https://indieweb.org/POSSE">POSSE</a>. There are
<a href="https://indieweb.org/why">lots of different reasons</a> to do this,
but one of the biggest is <em>owning your data</em>. Bridgy lets you do this
faster, more effectively, and even automatically!</p>
<p>You can try it right now. Once you're signed up to publish, plug the URL for
one of your posts into the text box on your Bridgy user page, then hit
the <em>Preview</em> button. You'll see a preview of what your post would look
like as a tweet. If you like it, click <em>Send</em>
and Bridgy will post it for you.</p>
<p>It's not just for posts or tweets, either! You can use Bridgy to publish
<a href="#reply">replies</a>,
<a href="#repost">retweets</a>,
<a href="#like">likes</a>, and even
<a href="#person-tag">tag people</a> in photos!
<a href="#publish-types">Here's the full list.</a>
</li>


<li id="microformats" class="question">How does it decide which parts of my web
  page to include?</li>
<li class="answer">
<p>Magic! Most major blog engines and CMSes are supported out of the box, no
setup necessary. Bridgy looks for
<a href="http://microformats.org/">microformats</a> in your HTML, first
the
<a href="http://microformats.org/wiki/microformats2">microformats2</a>
<code>e-content</code> class and then the legacy <code>entry-content</code>
class. It also understands more advanced microformats2 classes like
<a href="http://microformats.org/wiki/rel-in-reply-to"><code>in-reply-to</code></a>,
<a href="https://indieweb.org/like"><code>u-like-of</code></a>,
<a href="https://indieweb.org/like"><code>u-repost-of</code></a>,
<a href="https://indieweb.org/photo"><code>u-photo</code></a>,
<a href="https://indieweb.org/tag"><code>u-category</code></a> (for
<a href="https://indieweb.org/person-tag">tagging</a>), and
<a href="http://microformats.org/wiki/h-card"><code>h-card</code></a> and
<a href="http://microformats.org/wiki/h-geo"><code>h-geo</code></a> (for location).

 Here's an example:

<pre>&lt;div class="<span class='keyword'>h-entry</span>"&gt;&lt;p class="<span class='keyword'>e-content</span>"&gt;
  <span class='value'>Two naked tags walk into a bar. The bartender exclaims, "Hey, you can't come in here without microformats, this is a classy joint!"</span>
&lt;/p&gt;&lt;/div&gt;
</pre>
</p>

<p>In general, Bridgy prefers to use <code>p-summary</code> if available, then
the full <code>e-content</code>, and finally <code>p-name</code>, in that order.
The one exception is original tweets (not <a href="#reply">@-replies</a>) on
Twitter: for those, it prefers <code>p-name</code> before <code>e-content</code>.
<a href="https://github.com/snarfed/bridgy/issues/228">Background</a>
<a href="https://github.com/snarfed/bridgy/issues/219">discussion</a>.
</p>

<p>Bridgy also tries to preserve some formatting and whitespace, notably
newlines and lists, when converting your post's HTML to plain text. Try
previewing a post to see how it will look!
</p>
</li>

<li id="publish-types" class="question">What can I publish, exactly?</li>
<li class="answer">
<p>Bridgy can publish:</p>
<ul>
<li>Twitter tweets, @-replies, retweets, and likes. Tweets and @-replies may include <a href="#location">location</a> and <a href="#picture">up to four photos</a> or <a href="#video">one video</a>. Tweets may also be <a href="#delete">deleted</a>.</li>
<li>Flickr photos, videos, comments, and favorites. Photos may include <a href="#location">location</a>, <a href="https://indieweb.org/tags">tags</a>, and/or <a href="#person-tag">people tags</a>.</li>
<li>GitHub issues, <a href="https://help.github.com/articles/about-stars">stars</a>, comments on issues and PRs, and <a href="https://help.github.com/articles/about-conversations-on-github/#reacting-to-ideas-in-comments">emoji reactions</a> to issues, PRs, and comments.</li>
<li><a href="#add-label">Adding new labels to GitHub issues.</a></li>
<li>Nothing on Instagram, sorry. Likes used to be possible, but not since Instagram <a href="http://developers.instagram.com/post/133424514006/instagram-platform-update"> started locking down their API.</a> <a href="http://instagram.com/developer/endpoints/media/#get_media_popular">Photos, videos,</a> <a href="http://instagram.com/developer/endpoints/comments/#post_media_comments">and comments</a> were never possible.</li>
</ul>
</li>
</p></li>

<li id="webmentions" class="question">Can I do this automatically, whenever
  I post something new on my web site?</li>
<li class="answer">
<p>Definitely! Just send
a <a href="http://indiewebify.me/#send-webmentions">webmention</a>. Your server
may be sending them already! Webmentions are pretty new,
but <a href="https://indieweb.org/webmention#Publishing_Software">more and
more web servers</a> are adding support for them. If you're not sure whether
your server can send them, feel free
to <a href="https://indieweb.org/IRC">ask on #indiewebcamp</a>, or you can
even write a script to
<a href="https://indieweb.org/webmention#How_to_Test_Webmentions">send them
yourself</a>. It's just a single HTTP request!
</p>
<p id="publish-backlink">Bridgy's webmention endpoint
is <code>https://brid.gy/publish/webmention</code>, and the target URL
should be one of:
<ul>
<li><code>https://brid.gy/publish/flickr</code></li>
<li><code>https://brid.gy/publish/github</code></li>
<li><code>https://brid.gy/publish/twitter</code></li>
</ul>
Your post HTML must also include that same
target URL to verify your intent to publish. It doesn't have to be in your
<code>e-content</code> or <code>h-entry</code>; it can appear anywhere on the
page.
</p>
<p>If your server sends webmentions, just include any of these invisible links
in your post to publish automatically!
<pre>&lt;a href="<a href='https://brid.gy/publish/flickr'>https://brid.gy/publish/flickr</a>"&gt;&lt;/a&gt;
&lt;a href="<a href='https://brid.gy/publish/github'>https://brid.gy/publish/github</a>"&gt;&lt;/a&gt;
&lt;a href="<a href='https://brid.gy/publish/twitter'>https://brid.gy/publish/twitter</a>"&gt;&lt;/a&gt;
</pre>
</p>
</li>

<li id="reply" class="question">How do I reply to a tweet from my web site?</li>
<li class="answer">
<p>
Easy! Put the reply in a new post on your web site, and include a link to the
tweet you're replying to with class
<code><a href="http://microformats.org/wiki/rel-in-reply-to">
u-in-reply-to</a></code>, as if you were publishing a normal
<a href="https://indieweb.org/comment">IndieWeb reply</a>. For example:

<pre>&lt;div class="<span class='keyword'>h-entry</span>"&gt;
  &lt;p class="<span class='keyword'>e-content</span>"&gt;<span class='value'>@schnarfed Highly entertaining. Please subscribe me to your newsletter.</span>&lt;/p&gt;
  &lt;a class="<span class='keyword'>u-in-reply-to</span>" href="<a href='https://twitter.com/schnarfed/status/448205453911015425'>https://twitter.com/schnarfed/status/448205453911015425</a>"&gt;&lt;/a&gt;
  &lt;a href="<a href='https://brid.gy/publish/twitter'>https://brid.gy/publish/twitter</a>"&gt;&lt;/a&gt;
&lt;/div&gt;
</pre>

The <code>u-in-reply-to</code> and <code>brid.gy/publish/twitter</code> links
don't need any visible text unless you want them to. Then publish your post via
the Bridgy UI or a webmention like normal!
</p>
<p>
On the other hand, if your post is in reply to another IndieWeb post
that is <em>also</em> syndicated, Bridgy will
use <a href="https://indieweb.org/rel-syndication">rel-syndication</a>
links in the other post to find the appropriate silo copy to reply to.
</p>
</li>

<li id="like" class="question">How do I like or retweet from my web site?</li>
<li class="answer">
<p>Liking and retweeting are almost exactly the
<a href="#reply">same as replying</a>. The only difference is that you use
<code><a href="https://indieweb.org/like">u-like-of</a></code>
for a like (or favorite) or
<code><a href="https://indieweb.org/repost">u-repost-of</a></code> for a
retweet.

<pre>
&lt;a class="<span class='keyword'>u-like-of</span>" href="<a href='https://www.flickr.com/photos/40721178@N00/24476817906/'>https://www.flickr.com/photos/40721178@N00/24476817906/</a>"&gt;&lt;/a&gt;
</pre>

<pre>
&lt;a class="<span class='keyword'>u-repost-of</span>" href="<a href='https://twitter.com/schnarfed/status/448205453911015425'>https://twitter.com/schnarfed/status/448205453911015425</a>"&gt;&lt;/a&gt;
</pre>
</p>
</li>

<li id="picture" class="question">How do I post a picture?</li>
<li class="answer">
<p>
Just add the picture to your post in an <code>&lt;img class="u-photo"&gt;</code>
tag. For example:

<pre>
&lt;img class="<span class='keyword'>u-photo</span>" src="<span class='value'>/full_glass.jpg</span>" /&gt;
I love scotch. Scotchy scotchy scotch.
</pre>
</p>
<p>If you're posting to Twitter, and your <code>&lt;img&gt;</code> tag includes <code>alt="..."</code>, Bridgy will pass on that alt text and <a href="https://blog.twitter.com/developer/en_us/a/2016/alt-text-support-for-twitter-cards-and-the-rest-api.html">it will be included with the picture in your tweet</a>.</p>
</li>

<li id="video" class="question">How do I post a video?</li>
<li class="answer">
<p>
Just <a href="https://indieweb.org/video">add the video</a>
to your post in a <code>&lt;video class="u-video"&gt;</code>
tag. For example:

<pre>
&lt;video class="<span class='keyword'>u-video</span>" src="<span class='value'>/cat_hunting.mp4</span>"&gt;
  Kitty is on the hunt!
&lt;/video&gt;
</pre>
</p>
</li>

<li id="person-tag" class="question">How do I tag someone in a post?</li>
<li class="answer">
<p>
Flickr supports tagging people in posts, photos, and checkins. Just include a <a href="https://indieweb.org/person-tag">person tag link</a> to their silo profile with <code>&lt;a class="u-category h-card"></code>. For example:

<pre>
&lt;a class="<span class='keyword'>u-category h-card</span>" href="<span class='value'>https://www.flickr.com/people/40721178@N00/</span>"&gt;
  Tag, you're it!
&lt;/a&gt;
</pre>
</p>
</li>

<li id="location" class="question">How do I include location in a post?</li>
<li class="answer">
<p>Twitter and Flickr can include a location, specifically latitude and longitude,
with a post. Just include <code>p-latitude</code> and <code>p-longitude</code>
in an <code>h-geo</code> or <code>p-location h-card</code>. For example:

<pre>
I'm
&lt;p class="<span class='keyword'>p-location h-card</span>"&gt;
  here!
  &lt;span class="<span class='keyword'>p-latitude</span> hidden"&gt;<span class='value'>-27.116667</span>&lt;/span&gt;
  &lt;span class="<span class='keyword'>p-longitude</span> hidden"&gt;<span class='value'>-109.366667</span>&lt;/span&gt;
&lt;/p&gt;
</pre>
</p>

<p>To make this work for Twitter, you'll first need to enable location for your account. Open the <a href="https://twitter.com/settings/safety">Privacy and safety settings page</a> and check the <em> Tweet with a location</em> box. Also, Twitter says latitude and longitude are <a href="https://developer.twitter.com/en/docs/tweets/post-and-engage/api-reference/post-statuses-update#post-statuses-update">best effort only</a>. They don't guarantee that all latitude/longitude points will result in a location attached to your tweet.
</li>

<li id="quote-tweet" class="question">How do I post a quote tweet?</li>
<li class="answer">
<p>Include an <code>h-cite u-quotation-of</code> with a
<code>u-url</code> that points to a tweet.
<a href="https://indieweb.org/quotation#How_to_markup">More details.</a>
For example:

<pre>
I have something to say about this:
&lt;cite class="<span class='keyword'>h-cite u-quotation-of</span>"&gt;
  &lt;a class="<span class='keyword'>u-url</span>" href="<span class='value'><a href='https://twitter.com/schnarfed/status/448205453911015425'>https://twitter.com/schnarfed/status/448205453911015425</a></span>"&gt;
    A provocative statement.
  &lt;/a&gt;
&lt;/cite&gt;
</pre>
</p>
</li>

<li id="delete" class="question">How do I delete a tweet?</li>
<li class="answer">
<p><a href="https://indieweb.org/delete">Delete its original post by returning HTTP 410 Gone.</a> (The response body can be anything.)</p>
<p>Bridgy Publish can only delete tweets that it created originally. Also, once it publishes and then deletes a tweet, it can't re-publish the same post as another tweet. If you want to edit a tweet, delete it, change its permalink on your site, and then republish it using that new URL.</p>
</li>

<li id="github-issue-comment" class="question">How do I create a GitHub issue or comment?</li>
<li class="answer">
<p>To create an issue, link to the repo’s issues page with class <code><a href="https://indieweb.org/u-in-reply-to">u-in-reply-to</a></code>. For example:

<pre>&lt;div class="<span class='keyword'>h-entry</span>"&gt;
  &lt;a class="<span class='keyword'>u-in-reply-to</span>" href="<a href='https://github.com/snarfed/bridgy/issues'>https://github.com/snarfed/bridgy/issues</a>"&gt;Regarding Bridgy:&lt;/a&gt;
  &lt;h1 class="<span class='keyword'>p-name</span>"&gt;<span class='value'>Please add support for <a href="https://www.justyo.co">Yo</a></span>&lt;/h1&gt;
  &lt;p class="<span class='keyword'>e-content</span>"&gt;<span class='value'>It's my favorite silo!</span>&lt;/p&gt;
&lt;/div&gt;
</pre>
</p>
<p>To create a comment, use an <code>u-in-reply-to</code> link to the issue or pull request you want to comment on, instead of to the repo’s issues page.
</p>
<p>If you're a <a href="https://help.github.com/articles/permission-levels-for-a-user-account-repository/#collaborator-access-on-a-repository-owned-by-a-user-account">collaborator on the repo</a>, you can attach <a href="https://help.github.com/articles/labeling-issues-and-pull-requests/">labels</a> to issues you create by including them as <a href="https://indieweb.org/tags">tags</a> in your post, e.g. <code>&lt;p class="<span class='keyword'>p-category</span>"&gt;<span class='value'>extra special</span>&lt;/p&gt;</code>. Bridgy will ignore tags that don't match existing labels, and it will ignore all tags if you don't have permission to add labels to issues in the repo.</p>
</li>

<li id="github-reaction" class="question">How do I post an emoji reaction on a GitHub issue, PR, or comment?</li>
<li class="answer">
<p><a href="#github-issue-comment">Post a comment</a> where the content is 👍, 👎, 😆, 😕, ❤️, or 🎉. For example:</p>
<pre>&lt;div class="<span class='keyword'>h-entry</span>"&gt;
  &lt;a class="<span class='keyword'>u-in-reply-to</span>" href="<a href='https://github.com/snarfed/bridgy/issues/333'>https://github.com/snarfed/bridgy/issues/333</a>"&gt;Regarding bridgy#333:&lt;/a&gt;
  &lt;p class="<span class='keyword'>e-content</span>"&gt;<span class='value'>😆</span>&lt;/p&gt;
&lt;/div&gt;
</pre>
<p><a href="https://help.github.com/articles/about-conversations-on-github/#reacting-to-ideas-in-comments">More details.</a> The indieweb community also calls these <a href="https://indieweb.org/reacji">reacji</a>.
</li>

<li id="add-label" class="question">How do I add a label to a GitHub issue?</li>
<li class="answer">
<p>Post a <a href="https://indieweb.org/tag-reply#How_to_simple_tag-reply">tag-reply</a> to the issue with the new label(s). For example:</p>
<pre>
Adding labels
&lt;a class="<span class='keyword'>p-category</span>"&gt;good&lt;/span&gt;
and
&lt;a class="<span class='keyword'>p-category</span>"&gt;better&lt;/span&gt;
to
&lt;a class="<span class='keyword'>u-tag-of</span>" href="<a href='https://github.com/snarfed/bridgy/issues/333'>https://github.com/snarfed/bridgy/issues/333</a>"&gt;bridgy#333&lt;/a&gt;.
</pre>

<p>Bridgy will ignore tags that don't match existing labels in the repo.</p>
</li>

<li id="github-star" class="question">How do I star a GitHub repo?</li>
<li class="answer">
<p>Just post a <a href="#like">like</a> of the repo URL! For example:</p>
<pre>
&lt;a class="<span class='keyword'>u-like-of</span>" href="<a href='https://github.com/snarfed/bridgy'>https://github.com/snarfed/bridgy</a>"&gt;&lt;/a&gt;
</pre>
</li>

<li id="omit-link" class="question">Can I disable the link back to my post?</li>
<li class="answer">
<p>Sure! By default, Bridgy includes a link back to your post. If you're using
the form on your user page, you can select the <em>Include link: no</em> option
to disable this. If you're sending a webmention, you can disable it by adding
the query parameter <code>bridgy_omit_link=true</code> to your webmention HTTP
request or <a href="#publish-backlink">Bridgy Publish backlink</a>, or by adding
the <code>u-bridgy-omit-link</code> class to a link in your post.</p>
<p>If you want to include links <em>only</em> on posts that have been automatically ellipsized
(i.e. to fit on Twitter), you can select the <em>if shortened</em> preview option. This is
equivalent to sending a webmention with the query parameter <code>bridgy_omit_link=maybe</code>
or including an element like <code>&lt;data class="p-bridgy-omit-link" value="maybe" /&gt;</code>
in the post body.</p>
<p>Please note that if you omit the link and want Bridgy to report back responses to your posts,
it needs <a href="#link">additional markup</a> to find the corresponding post on your website.</p>
</li>

<li id="ignore-formatting" class="question">Can I disable the plain text
whitespace and formatting?</li>
<li class="answer">
<p>Sure! By default, Bridgy tries to preserve your post's HTML formatting and
whitespace when publishing it as plain text. You can disable this by adding the
query parameter <code>bridgy_ignore_formatting=true</code> to your webmention
HTTP request or <a href="#publish-backlink">Bridgy Publish backlink</a>, or by
adding the <code>u-bridgy-ignore-formatting</code> class to a link in your post.
</li>

<li id="silo-content" class="question">I want more control over the text
  that gets posted.</li>
<li class="answer">
<p>Sure! You can give Bridgy the exact text that you want posted with
the <code>p-bridgy-[SILO]-content</code> class in your post. This will override
your post's actual content.
</p>
<p>Here's an example of publishing custom text for Twitter:
</p>
<pre>&lt;div class="<span class='keyword'>h-entry</span>"&gt;
  &lt;p class="e-content"&gt;This is a going to be a very long blog post. Pull up a chair, it's going to take a while. Ready? Here we go...&lt;/p&gt;
  &lt;p class="<span class='keyword'>p-bridgy-twitter-content</span>"&gt;<span class='value'>Long form is the new short form.</span>&lt;/p&gt;
&lt;/div&gt;
</pre>
<p>You can hide these extra elements with <code>display: none</code>, or add the classes to existing elements like your title or summary, or anything else you like.</p>
<p>If you use this, Bridgy will still include a link to your post. <a href="#omit-link">You can change that with <code>omit-link</code>.</a> It will also still truncate your text if it's <a href="https://developer.twitter.com/en/docs/basics/counting-characters">over 280 characters</a>. You can always <a href="#try+it">preview your post first</a> to see how Bridgy will handle it!</p>
</li>

<li id="multiple-types" class="question">What if my original post does more than one thing?
</li>
<li class="answer">
<p>Bridgy Publish always interprets an original post on your web site as a single thing. <a href="https://github.com/snarfed/bridgy/issues/832#issuecomment-441453850">It would be difficult, at best,</a> to translate a single publish request to multiple actions in a silo consistently and safely, so we don't currently try. (What should we do if one part succeeds but one part fails? What if you retry? Etc.)</p>
<p>Bridgy Publish largely follows the <a href="https://ptd.spec.indieweb.org/#algorithm">Post Type Discovery</a> standard to map a microformats2 post on your web site to a single thing. There's one exception: PTD doesn't currently handle <a href="https://indieweb.org/tag-reply">tag replies</a>, but we do, so if your post has <code>u-tag-of</code>, it's interpreted as a tag reply. So, the <a href="https://ptd.spec.indieweb.org/#algorithm">Post Type Algorithm</a> results in this overall order of precedence:</p>
<ol>
<li><a href="https://indieweb.org/tag-reply">tag reply</a></li>
<li><a href="https://indieweb.org/rsvp">RSVP</a></li>
<li><a href="https://indieweb.org/repost">repost</a></li>
<li><a href="https://indieweb.org/like">like</a></li>
<li><a href="https://indieweb.org/reply">reply</a></li>
<li><a href="https://indieweb.org/post">post</a></li>
</ol>
<p>So, for example, if you try publish a post that's both a like and a repost, Bridgy translates it to a repost.</p>
<p> Replies with tag replies (ie <code>u-tag-of</code>) are an exception. <a href="https://github.com/snarfed/bridgy/issues/832">They currently return an error.</a></p>
</li>

<li id="short-link" class="question">Can I include a short link instead of the full link?</li>
<li class="answer">
<p>Sure! Just enter the short link in the URL text box. Or if you're
<a href="#webmentions">using a webmention</a> instead of the web form, pass the
short link as the webmention's <code>source</code> parameter.</p>
<p>Bridgy also obeys and prioritizes
<a href="http://microformats.org/wiki/rel-shortlink">rel-shortlink</a>.
If your web page has a <code>link</code> like this:</p>
<pre>
&lt;link rel="<span class='keyword'>shortlink</span>" href="<span class='value'>http://my.short/link</span>" /&gt;
</pre>
<p>...then Bridgy will include <code>http://my.short/link</code> as your permalink, regardless of the source link you provide.</p>
</li>

<li id="response" class="question">How does Bridgy respond to webmentions?</li>
<li class="answer">

<p>Bridgy handles webmentions synchronously, so it knows the result when it
responds. A <code>POST</code> to <code>https://brid.gy/publish/webmention</code>
will return <code>201 Created</code> on success with a JSON response containing
at least a <code>url</code> field that points to the silo object that it
operated on. The same URL is included in the <code>Location</code> HTTP header.
For Twitter likes, this is the tweet. If a new object was created, e.g. a
Twitter tweet, @-reply, or retweet, there will also be
an <code>id</code> field with the silo id of that object.
</p>
<p>For example, this request for an original post:
</p>
<pre>POST <span class="keyword">source</span>=<a>https://example.com/posts/123</a>
     &<span class="keyword">target</span>=<a href="https://brid.gy/publish/twitter">https://brid.gy/publish/twitter</a></pre>
<p>will receive this response:
</p>
<pre>HTTP/1.1 201 Created
Content-Type: application/json
Location: https://twitter.com/me/status/456789

{
  "<span class='keyword'>url</span>": "<span class='value'>https://twitter.com/me/status/456789</span>",
  "<span class='keyword'>type</span>": "<span class='value'>post</span>",
  "<span class='keyword'>id</span>": "<span class='value'>456789</span>"
}</pre>
<p>Pro tip: Twitter responses that create new tweets actually return the entire newly created <a href="https://developer.twitter.com/en/docs/tweets/data-dictionary/overview/tweet-object">tweet object</a>. The more you know!
</p>
</li>

<li id="error-response" class="question">How about error responses?</li>
<li class="answer">
<p><code>400 Bad Request</code> is the most common error response. Other status
codes may be returned when an API call error is propagated back to you. For
example, GitHub sometimes <code>403</code>s API requests due to access
restrictions.
</p>
<p>
Like successful responses, error response bodies are JSON. All error responses
will contain an <code>error</code> field with a human-readable error message.
Most will also contain a <code>data</code> field with the
parsed <a href="http://microformats.org/wiki/microformats2">microformats2</a>
data from your original post, which is often helpful for debugging.
</p>
<p>For example, a webmention for this source markup:
</p>
<pre>&lt;a class="<span class='keyword'>h-card</span>" href="<a href='https://snarfed.org/'>https://snarfed.org/</a>"&gt;Ryan Barrett&lt;/a&gt;
</pre>
<p>will receive <code>400 Bad Request</code> with this response:
</p>
<pre>{
  "<span class='keyword'>error</span>": "<span class='value'>Twitter doesn't support type(s) h-card.</span>",
  "<span class='keyword'>data</span>": {"<span class='keyword'>items</span>": [{
    "<span class='keyword'>type</span>": ["<span class='keyword'>h-card</span>"],
    "<span class='keyword'>properties</span>": {
      "<span class='keyword'>url</span>": ["<a href='https://snarfed.org/'>https://snarfed.org/</a>"],
      "<span class='keyword'>content</span>": [{"<span class='keyword'>value</span>": "<span class='value'>Ryan Barrett</span>"}],
    }
  }]}
}</pre>
</li>

<li id="silos" class="question">Why not Instagram?</li>
<li class="answer">
<p>Sadly, <a href="http://developers.instagram.com/post/133424514006/instagram-platform-update">Instagram's API is locked down to limited manual approval.</a> Shameless plug: check out <a href="http://ownyourgram.com/">#OwnYourGram</a> for an Instagram alternative!</p>
</li>

<li id="extended-tweets" class="question">Can I take advantage of Twitter's new
<a href="https://blog.twitter.com/express-even-more-in-140-characters">extended tweet character counting</a>?</li>
<li class="answer">
<p>Yes! Twitter is now <a href="https://blog.twitter.com/express-even-more-in-140-characters">exempting reply @-mentions, photo and video links, quote tweet links, and more</a> from counting toward the total character limit. <a href="https://blog.twitter.com/express-even-more-in-140-characters">More details</a>, <a href="https://developer.twitter.com/en/docs/tweets/tweet-updates">developer docs</a>. Bridgy Publish fully supports these changes. Happy tweeting!
</p>
<p>(Having said all that, the new extended tweets have caused a small change in Bridgy Publish behavior. Before, if you @-mentioned the user you were replying to <em>inside</em> the tweet text, instead of at the beginning, your reply would still show up in the public timeline on your profile and in your followers' feed. Now, it won't. <a href="https://chat.indieweb.org/2017-04-13#t1492116025150000">Ongoing discussion.</a>)
</p>
</li>

<li id="reply-mention" class="question">When I reply to a tweet, do I need to @-mention that tweet's author?</li>
<li class="answer">
<p>No, Bridgy and Twitter will do that for you. You're welcome to mention them inside your text, but otherwise don't include an @-mention at the beginning, since it will get duplicated. <a href="https://github.com/snarfed/bridgy/issues/703">More background.</a>
</p>
</li>

<li id="401" class="question">I'm getting a <em>401: Unauthorized</em> error
   when I try to publish to Twitter.</li>
<li class="answer">
<p>Sorry for the trouble! Here are steps to fix this:
</p>
<ol>
  <li>Open your
    <a target="_blank" href="https://twitter.com/settings/applications">Twitter
    apps</a> page and click on the <em>Revoke access</em> button next to
    Bridgy.</li>
  <li>On your Bridgy user page (<a target="_blank" href="/users">find it here</a>
    if you don't have it bookmarked), click on the red <em>Disable</em> button
    next to <em>Ready to publish.</em> Approve the prompt.</li>
  <li>Now, reload your Bridgy user page and click on the Twitter button next
    to <em>Click to enable publishing</em>. Approve the prompt.</li>
</ol>
<p>You should be able to publish now. Sorry for the trouble!</p>
</li>


<!-- Blog webmentions -->
<br />
<h3 id="blogs">Webmentions for blogs</h3>

<li class="question">What is this?</li>
<li class="answer">
<p><a href="http://indiewebify.me/#send-webmentions">Webmentions</a> are a core
part of both the <a href="https://indieweb.org/">IndieWeb</a> and Bridgy
itself. The <a href="http://www.webmention.org/">webmention protocol</a> is
growing fast, but it's still pretty new, so many large hosted blog providers
don't yet support it. Bridgy lets you add webmention support to four of the
largest providers:
<a href="https://www.blogger.com/">Blogger</a>,
<a href="https://medium.com/">Medium</a>,
<a href="http://www.tumblr.com/">Tumblr</a>, and
<a href="http://wordpress.com/">WordPress.com</a>.
Medium supports outgoing webmentions only; the other three support outgoing and
incoming.
Read on for more details, or
<a href="/">head to the front page to sign up!</a></p>
</li>

<li id="outgoing" class="question">What outgoing webmentions does it send from
my blog?</li>
<li class="answer">
<p>When you publish a new post on your blog, Bridgy attempts to send a
webmention to each link in your post.</p>
</li>

<li id="incoming" class="question">What does it do with incoming webmentions
that my blog receives?</li>
<li class="answer">
<p>When Bridgy receives a webmention for a post on your blog, it runs some
validation on the source page, in particular checking that it links to your blog
post. Then, Bridgy reformats the source page and posts it as a comment on your
post.</p>
</li>

<li id="endpoint" class="question">Why do I have to add a line of HTML to
my blog?</li>
<li class="answer">
<p>When other web servers want to send your blog a webmention, they use that
HTML line to determine where to send it. This is the
<a href="https://github.com/converspace/webmention/blob/master/README.md#sender-discovers-receiver-endpoint">webmention
endpoint discovery</a> process. Follow the instructions on your user page to add
it to your blog.</p>
<p>If you're already familiar
  with <a href="http://www.webmention.org/">webmention</a>, Bridgy's
  endpoints for hosted blogs are:</p>
<ul>
<li><code>https://brid.gy/webmention/blogger</code></li>
<li><code>https://brid.gy/webmention/tumblr</code></li>
<li><code>https://brid.gy/webmention/wordpress</code></li>
</ul>
</li>

<li id="disqus" class="question">I'm on Tumblr. Why do I have to install
<a href="http://disqus.com/">Disqus</a>?</li>
<li class="answer">
<p>Bridgy posts incoming webmentions as comments on Blogger and WordPress.com,
but Tumblr doesn't have traditional comments. You can use your own Tumblr blog
to <a href="http://www.tumblr.com/docs/en/blog_management#social">reply</a> to
or <a href="http://www.tumblr.com/tips#reblog">reblog</a> someone else's post,
but neither of those is quite right for a webmention, since the original is
already posted somewhere else.</p>
<p>Disqus lets Bridgy post webmentions on Tumblr blogs in the standard comment
format. We know Disqus isn't for everyone, though, and we're open to
alternatives. Feel free
to <a href="https://github.com/snarfed/bridgy/issues">file suggestions on
GitHub</a>!</p>
</li>

<li id="medium" class="question">I'm on Medium. Why doesn't Bridgy give me
incoming webmentions?</li>
<li class="answer">
<p><a href="https://github.com/Medium/medium-api-docs/">Medium's API</a> doesn't
yet support
<a href="https://help.medium.com/hc/en-us/articles/214578008-Responses">responding</a>
or
<a href="https://help.medium.com/hc/en-us/articles/215252328-Recommends">recommending</a>
yet, so we can't publish incoming webmentions on your Medium posts. <a href="https://help.medium.com/hc/en-us/requests/new">Feel free to request that they add them!</a>
</p>
</li>

<li id="medium-mf2" class="question">I'm on Medium. Why do my webmentions look
  ugly and empty on their target pages?</li>
<li class="answer">
<p>Most webmention recipients look for <a href="http://microformats.org/wiki/microformats2">microformats2</a> in the source page (your Medium blog post) in order to render it nicely. Sadly, Medium doesn't yet have microformats of any kind. <a href="https://help.medium.com/hc/en-us/requests/new">Feel free to request that they add them!</a>
</p>
</li>

<li id="moderation" class="question">I received a webmention, but it's not
  showing up on my blog.</li>
<li class="answer">
<p>Check your comment moderation queue, especially if you're on WordPress.com. Bridgy includes a couple links in the comments it creates for webmentions, which can trigger some comment spam filters.</p>
</li>

<li id="user" class="question">All the comments for incoming webmentions
come from me. That's ugly.</li>
<li class="answer">
<p>Yeah, that's an unfortunate side effect of the way the blog APIs handle authentication and authorization. It's the most reliable way to get comments past rate limits, spam filters, etc. and have the best chance of actually showing up.</p>
<p>One workaround is to create a new user with a different name, add it to your blog as a contributor, and sign your blog up for Bridgy again under that user.</p>
</li>

</ul>
</div>

<script src="/static/fragmention.js"></script>

{% endblock %}
