<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% block title %}Bridgy{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="mobile-web-app-capable" content="yes"/>
<link rel="shortcut icon" sizes="128x128" href="/static/bridgy_logo_128.jpg">
<link rel="apple-touch-icon-precomposed" sizes="128x128" href="/static/bridgy_logo_128.jpg">
<!-- 32x32 last so that browsers prefer it -->
<link rel="shortcut icon" sizes="32x32" href="/static/favicon.png">
<link rel="apple-touch-icon-precomposed" sizes="32x32" href="/static/favicon.png">
<link rel="stylesheet" href="/static/bootstrap.min.css" />
<link rel="stylesheet" href="/static/style.css" type="text/css" />
<!-- google analytics -->
<script type="text/javascript">
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-11785301-2', 'auto');
ga('send', 'pageview');
</script>

<script async src="/static/bridgy.js"></script>
<script async src="/oauth_dropins/static/util.js"></script>
</head>

<!-- Content starts here -->
<body class="{% block body_class %}{% endblock %}">

<div id="messages">
  <p id="message" class="shadow"></p>
</div>

<main class="tp-main lead container">

<div id="logins">
{% if logins %}
  {% for login in logins %}
  <a href="{{ login.path }}" class="h-card u-url">
    <img src="/static/{{ login.site }}_icon.png" width="24" />
    <span class="p-name">{{ login.name }}</span>
  </a> |
  {% endfor %}
  <a href="/logout">Log out</a>
{% endif %}
</div>

<div id="intro" class="row">
<div id="logo" class="col-xs-4">
 <a href="/"><img id="logo-img" class="img-responsive" src="/static/bridgy_logo.jpg" /></a>
</div>

<div id="header" class="col-xs-8">
<br>
<p class="big"><a id="title" href="/">Bridgy</a> connects your web site to social media.<br>
Likes, retweets, mentions, cross-posting, <a href="/about">and more...</a>
</div>
</div>

<p class="clearfix"></p>

{% block content %}
{% endblock %}

<div id="footer">
  <a href="/about">About / FAQ</a>
  | <a href="https://github.com/snarfed/bridgy/issues">Bugs</a>
  | <a href="https://github.com/snarfed/bridgy">Source</a>
  | <a href="https://indieweb.org/">#IndieWeb</a>
  | <a href="https://fed.brid.gy/">Bridgy Fed</a>
</div>

</div>
</main>
</body>
</html>
