{% extends "user.html" %}

{% block ui %}

{% if "webmention" in source.features and source.status != "disabled" %}
<!-- Banner for blogs that aren't yet advertising the webmention endpoint -->
{% if not source.verified() %}
<div id="undiscovered" class="row big promo">
  {% block undiscovered %}
  {% endblock %}
  {% if source.SHORT_NAME != 'medium' %}
  <form method="get" action="">
  <button type="submit" class="btn btn-default" onclick="document.location.reload()">
    Done!</button>
  </form>
  <br />
  {% endif %}
</div>
{% else %}

<div class="row">
{% if source.has_bridgy_webmention_endpoint() %}
<p class="big">You're all set! Check out your recent
<a href="#blogposts">blog posts</a> and <a href="#webmentions">webmentions</a>.
  <!-- This currently 500s :/ -->
  <!-- <a href="http://indiewebify.me/send-webmentions/?url={{ source.domain_url }}"> -->
  <!--   Try a webmention!</a> -->
</p>
{% else %}
<p class="warning">Warning: your blog's current
<a href="https://github.com/converspace/webmention/blob/master/README.md#sender-discovers-receiver-endpoint">webmention endpoint</a>
is
<code><a href="{{ source.webmention_endpoint }}">
  {{ source.webmention_endpoint }}</a></code>.
If you want Bridgy to handle your blog's webmentions, change it to
<code><a href="{{ source.bridgy_webmention_endpoint() }}">
  {{ source.bridgy_webmention_endpoint() }}</a></code>.
</p>
{% endif %}
{% endif %}

<div class="row">
<form method="post" action="/delete/start">
  <input name="key" type="hidden" value="{{ source.key.urlsafe() }}" />
  <input name="feature" type="hidden" value="webmention" />
  <button id="delete-button" type="submit" class="btn btn-default"
          title="Disable this account. (Won't delete webmentions you've already sent or received.)">Disable</button>
</form>
</div>

<!-- Signup button -->
{% else %}
<div class="row big">
Click to re-enable:
{% block blog_signup %}
{% endblock %}
</div>
{% endif %}

{% endblock %}


{% block recent %}
{% if "webmention" in source.features and source.status != "disabled" %}
<!-- Blog posts -->
<div id="blogposts" class="row">
{% if blogposts %}
<p class="big">Recent blog posts:</p>
<ul class="user-items">
  {% for blogpost in blogposts %}
  <li class="row h-bridgy-blogpost">
   <data class="p-bridgy-status" value="{{ blogpost.status }}" />
   <div class="col-sm-4">
    {{ blogpost.pretty_url|safe }}

   </div><div class="col-sm-4">
    {{ logs.maybe_link(blogpost.updated, blogpost.key, 'u-bridgy-log')|safe }}
    {% if blogpost.status == 'error' %}
     <span title="Error" class="glyphicon glyphicon-exclamation-sign"></span>
    {% else %}{% if blogpost.status == 'processing' %}
     <span title="Processing" class="glyphicon glyphicon-transfer"></span>
    {% endif %}{% endif %}

   </div><div class="col-sm-1">
    <form method="post" action="/retry">
      <input name="key" type="hidden" value="{{ blogpost.key.urlsafe() }}" />
      <input name="redirect_to" type="hidden" value="{{ request.url }}" />
      <button id="retry-button" type="submit" title="Retry"
              class="btn btn-default glyphicon glyphicon-refresh"></button>
    </form>

   </div><div class="col-sm-3">
    {% for label, links in blogpost.links.items() %}
      {{ label|safe }}:
        {# label and links are sanitized in UserHandler.process_webmention_links #}
      <ul class="original-post-links">
        {% for link in links %}
          <li>{{ link|safe }}</li>
        {% endfor %}
      </ul>
    {% else %}
      No links found
    {% endfor %}
   </div>
  </li>
  {% endfor %}
</ul>

{% else %}
<p class="big">No blog posts yet.</p>
{% endif %}
</div>


<!-- Incoming blog webmentions -->
<div id="webmentions" class="row">
{% if webmentions %}
<p class="big">Recent
  <a href="http://indiewebify.me/#send-webmentions">webmentions</a>:</p>
<ul class="user-items">
  {% for wm in webmentions %}
  <li class="row">
   <div class="col-sm-3">
     {{ wm.pretty_source|safe }}

   </div><div class="col-sm-4">
     {{ wm.pretty_target|safe }}

   </div><div class="col-sm-3">
    {{ logs.maybe_link(wm.updated, wm.key)|safe }}
    {% if wm.status == 'failed' %}
     <span title="Error" class="glyphicon glyphicon-exclamation-sign"></span>
    {% else %}{% if wm.status == 'new' %}
     <span title="Processing" class="glyphicon glyphicon-transfer"></span>
    {% endif %}{% endif %}

   </div><div class="col-sm-2">
     {% if wm.published.url %}
       <a href="{{ wm.published.url }}">
     {% endif %}
       {{ wm.type }}
     {% if wm.published.url %}
       </a>
     {% endif %}

   </div>
  </li>
  {% endfor %}
</ul>

{% else %}
<p class="big">No
  <a href="http://indiewebify.me/#send-webmentions">webmentions</a> received yet.</p>
{% endif %}
</div>

{% endif %}
{% endblock %}
