{% extends "base.html" %}

{% block title %}Bridgy{% endblock %}

{% block body_class %} index {% endblock %}

{% block content %}

<!-- Signup buttons -->
<div id="signups">
{% include "listen_signup.html" %}
<hr />
{% include "webmention_signup.html" %}
<hr />
</div>

<p class="row big">
  Already signed up? <a href="/users">Find your user page here.</a></p>

<!-- Stats -->
<br />
<p id="stats" class="row">
<a href="/users">{{ users }} accounts</a>,
{{ responses }} responses handled,
{{ links }} links analyzed,
{{ webmentions }}
 <a href="http://indiewebify.me/#send-webmentions">webmentions</a> sent,
{{ publishes }} posts published,
{{ blogposts }} blog posts processed,
<!-- {{ webmentions_received }} blog webmentions received -->
<a href="https://snarfed.org/?s=bridgy%20stats">and counting...</a>
</p>

{% endblock %}
