{% extends "user.html" %}

{% block ui %}

<!-- Promos to get fully up and running -->

{% if source.SHORT_NAME == 'facebook' %}
<div class="row promo error">
<p><b><a href="/about#rip-facebook">Facebook is no longer supported.</a>
So long, and thanks for all the fish!</b></p>
</div>
{% endif %}

{% if source.SHORT_NAME == 'googleplus' %}
<div class="row promo error">
<p><b><a href="/about#rip-google+">Google+ won't exist for much longer.</a>
So long, and thanks for all the fish!</b></p>
</div>
{% endif %}


{% if "listen" in source.features %}
{% if source.is_private() %}
<div class="row promo warning">
<p>Your {{ source.gr_source.NAME }} account is private! Bridgy will only
  <a href="/about#listen">backfeed</a> mentions and links, not responses to your
  posts, since they're private.</p>
</div>
{% else %}
{% if source.recent_private_posts >= RECENT_PRIVATE_POSTS_THRESHOLD %}
<div class="row promo warning">
<p>Warning: it looks like most of your recent posts are private! Bridgy
  only handles <a href="/about#public">fully public posts</a>.</p>
</div>
{% endif %}
{% endif %}
{% endif %}

{% if not source.verified() and source.status != "disabled" and source.features %}
{% if not source.domain_urls %}
<div class="row promo warning">
<p id="edit-profile">First things first: what's your web site?
{% block edit_profile %}
{% endblock %}
</p>
</div>

{% else %}
{% if not source.webmention_endpoint and not source.last_webmention_sent %}
<div class="row promo warning">
You
{% if "listen" in source.features %} need {% else %} might want {% endif %}
<a href='http://indiewebify.me/#send-webmentions'>webmention</a> support.

{% if blogger_promo or tumblr_promo or wordpress_promo %}
Click here to add it:
{% if blogger_promo %}
{% include "blogger_signup.html" %}
{% endif %}
{% if tumblr_promo %}
{% include "tumblr_signup.html" %}
{% endif %}
{% if wordpress_promo %}
{% include "wordpress_signup.html" %}
{% endif %}

{% else %}
<a href="http://indiewebcamp.com/webmention#Publishing_Software">Here are some
resources.</a> If you're on
WordPress, <a href="http://wordpress.org/plugins/indieweb/">try the IndieWeb
bundle plugin</a>. If you're on Blogger, Tumblr, or
WordPress.com, <a href="/">sign up here!</a>

{% endif %}
{% endif %}
</div>
{% endif %}
{% endif %}

<div class="row">

{% if source.SHORT_NAME not in ('facebook', 'googleplus') %}
<!-- Listen UI -->
<div id="listen-ui" class="{% if publish_signup_ok %}col-sm-6{% endif %}">

{% if "listen" in source.features and source.status != "disabled" %}
<data class="p-bridgy-listen-status" value="enabled">
<form method="post" action="/delete/start">
<p id="listening-label" class="big">Listening for responses.
  <input name="key" type="hidden" value="{{ source.key.urlsafe() }}" />
  <input name="feature" type="hidden" value="listen" />
  {% if indieauth_me %}
    <input name="me" type="hidden" value="{{ indieauth_me }}" />
  {% endif %}
  <button id="delete-button" type="submit" class="btn btn-default"
    {% if source.SHORT_NAME == 'instagram' and not indieauth_me %}
      title="You need to add your web site to your Instagram profile and sign up for Bridgy again before you can disable your account."
      disabled class="disabled"
    {% else %}
      title="Disable sending responses for this account. (Won't delete responses you've already received.)"
    {% endif %}
    >Disable</button>
</p>
</form>
</data>

<p>
{% if source.poll_status == 'polling' %}
  <span title="Polling now" class="glyphicon glyphicon-transfer"></span>
  Polling now. Check back in a minute!

{% else %}
<form method="post" action="/poll-now">
  <!-- last poll -->
  {% if source.last_poll_attempt == EPOCH or (source.rate_limited and source.last_polled == EPOCH) %}
    Not polled yet,
  {% else %}
    {% if source.rate_limited %}
     <span title="Polling delayed because {{ source.gr_source.NAME }} is throttling Bridgy.">🐢</span>
    {% elif source.poll_status == "error" %}
     <span title="Error" class="glyphicon glyphicon-exclamation-sign"></span>
    {% endif %}
    Polled
    {{ logs.maybe_link(
         source.last_polled if source.rate_limited else source.last_poll_attempt,
         source.key, time_class='dt-bridgy-last-polled')|safe }},
  {% endif %}

  <!-- next poll -->
  next in
  {{ logs.maybe_link(next_poll, source.key, time_class="dt-bridgy-next-poll")|safe }}.

  <input name="key" type="hidden" value="{{ source.key.urlsafe() }}" />
  <button id="poll-now-button" type="submit" class="btn btn-default">Poll now</button>
</form>
{% endif %}
<br>
<span class="small">
<!-- last_syndication_url -->
{% if source.last_syndication_url and source.last_syndication_url > EPOCH %}
  Last <a href="/about#link">syndication link</a> found
  {{ logs.maybe_link(source.last_syndication_url, source.key,
                     time_class='dt-bridgy-last-syndication-link')|safe }}.
  <br />
{% endif %}

<!-- last_webmention_sent -->
{% if source.last_webmention_sent and source.last_webmention_sent > EPOCH %}
  Last <a href="/about#accept">webmention</a> sent
  <time class="dt-bridgy-last-webmention-sent"
        datetime="{{ source.last_webmention_sent.isoformat() }}"
        title="{{ source.last_webmention_sent.ctime() }}">
    {{ naturaltime(source.last_webmention_sent) }}</time>.
  <br />
{% endif %}

<!-- last_hfeed_refetch -->
{% if source.domain_urls %}
<form method="post" action="/crawl-now">
{% with %}
{% set s = '' if source.domain_urls|length == 1 else 's' %}
{% if source.last_hfeed_refetch == EPOCH %}
  Web site{{ s }} not <a href="/about#link">crawled</a> yet.
{% else %}
{% if source.last_hfeed_refetch == REFETCH_HFEED_TRIGGER %}
  <span title="Crawling now" class="glyphicon glyphicon-transfer"></span>
  <a href="/about#link">Crawling</a> now. Check back in a minute!
{% else %}
  Web site{{ s }} <a href="/about#link">crawled</a>
  {{ logs.maybe_link(source.last_hfeed_refetch, source.key,
                     time_class='dt-bridgy-last-refetched')|safe }}.
{% endif %}
{% endif %}
{% endwith %}
<input name="key" type="hidden" value="{{ source.key.urlsafe() }}" />
<button id="crawl-now-button" type="submit" class="btn btn-default">Crawl now</button>
</form>
{% endif %}
</span>
</p>

<!-- Discover button -->
<form method="post" action="/discover">
<p>
 <label id="discover-label" for="discover-url">Resend for post:</label>
 <input id="discover-url" name="url" type="url" required alt="URL"></input>
 <input id="discover-source-key" name="source_key" type="hidden"
        value="{{ source.key.urlsafe() }}" />
 <button id="discover-button" type="submit" class="btn btn-default">Discover</button>
</p>
</form>


<!-- Listen signup buttons -->
{% else %}
<data class="p-bridgy-listen-status" value="disabled">
{% if source.SHORT_NAME != 'facebook-email' %}
  Click to enable <a href="/about#listen">listening</a>:
{% endif %}
{% block listen_signup %}
{% endblock %}
</data>
{% endif %}

</div>


<!-- Publish UI -->
<div id="publish-ui" class="col-sm-6">

{% if "publish" in source.features and source.status != "disabled" %}
<data class="p-bridgy-publish-status" value="enabled">
<form method="post" action="/delete/start">
<p id="publishing-label" class="big">
 Ready to publish.
   <input name="key" type="hidden" value="{{ source.key.urlsafe() }}" />
   <input name="feature" type="hidden" value="publish" />
   <button id="delete-button" type="submit" class="btn btn-default"
     title="Disable publishing for this account. (Won't delete posts you've already published.)"
     >Disable</button>
</p>
</form>
</data>

<form method="post" name="preview" action="/publish/preview"
      onsubmit="do_preview('{{ source.SHORT_NAME }}'); return false;">
<p id="preview-ui">
 <label id="source-label" for="source-url">Enter post URL:</label>
 <input id="source-url" name="source" type="url" required alt="Source URL"></input>
 <input id="source_key" name="source_key" type="hidden" value="{{ source.key.urlsafe() }}" />
 <input name="target" type="hidden"
        value="https://brid.gy/publish/{{ source.SHORT_NAME }}"></input>

 <nobr>
 &nbsp;
 <div>
   Include link:
   <label title="Include a link back to the original post in the syndicated content">
     <input id="omit-link-false" name="bridgy_omit_link" value="false" type="radio" checked>
     yes
   </label>
   <label title="Do not include a link to the original post in the syndicated content">
     <input id="omit-link-true" name="bridgy_omit_link" value="true" type="radio">
     no
   </label>
   {% if source.SHORT_NAME != 'github' %}
   <label title="Include a link to the original post only if the text must ellipsized because of character constraints">
     <input id="omit-link-maybe" name="bridgy_omit_link" value="maybe" type="radio">
     if shortened
   </label>
   {% endif %}
 </div>
 &nbsp;
 <button id="preview-button" type="submit" class="btn btn-default">Preview</button>
 </nobr>
</p>
</form>

<!-- Publish signup buttons -->
{% else %}
<data class="p-bridgy-publish-status" value="disabled">
{% block publish_signup %}
{% endblock %}
</data>
{% endif %}

</div>

</div>
{% endif %} {# end Facebook/Google+ hiding UI blocks #}


<!-- Publish preview UI -->
<br />
<div id="preview" class="row"></div>
{% endblock %}


{% block recent %}
<!-- Responses -->
<div class="row">
{% if "listen" in source.features or "email" in source.features %}
{% if responses %}
<p id="responses" class="big">Responses:</p>
<ul class="user-items">
  {% for response in responses %}
  <li class="row h-bridgy-response h-bridgy-{{ response.type }}">
   <data class="p-bridgy-status" value="{{ response.status }}" />
   <div class="col-sm-3">
    {% with %}
    {% set r=response.response %}
    <a target="_blank" href="{{ response.actor.url }}"
       title="{{ response.actor.displayName }}">
      {% if response.actor.image.url %}
        <img class="profile" src="{{ response.actor.image.url }}" width="32" /></a>
      {% endif %}
      <a target="_blank" class="u-bridgy-syndication-source u-name" href="{{ r.url }}">
        {{ r.content|default('--')|striptags|truncate(40) }}
      </a>
    {% endwith %}

   </div><div class="col-sm-3">
    <ul class="original-post-links">
    {% for a in response.activities %}
    <li>
    {% if response.type == "comment" %} on {% endif %}
    <a target="_blank" class="u-bridgy-original-source"
       href="{{ a.url or a.object.url }}">
      {{ a.content|default('--')|striptags|truncate(40) }}
    </a></li>
    {% endfor %}

    {% if response.original_links %}
      <li>Original:
      {{ response.original_links|join(', ')|safe }}
      </li>
    {% endif %}
    </ul>

   </div><div class="col-sm-2">
     {{ logs.maybe_link(response.updated, response.key, link_class='u-bridgy-log')|safe }}
     {% if response.status == 'error' %}
      <span title="Error" class="glyphicon glyphicon-exclamation-sign"></span>
     {% else %}{% if response.status == 'processing' %}
      <span title="Processing" class="glyphicon glyphicon-transfer"></span>
     {% endif %}{% endif %}

   </div><div class="col-sm-1">
    <form method="post" action="/retry">
      <input name="key" type="hidden" value="{{ response.key.urlsafe() }}" />
      <input name="redirect_to" type="hidden" value="{{ request.url }}" />
      <button id="retry-button" type="submit" title="Retry"
              class="btn btn-default glyphicon glyphicon-refresh"></button>
    </form>

   </div><div class="col-sm-3">
    {% for label, links in response.links.items() %}
      {{ label|safe }}:
        {# label and links are sanitized in UserHandler.process_webmention_links #}
      <ul class="original-post-links">
        {% for link in links %}
          <li>{{ link|safe }}</li>
        {% endfor %}
      </ul>
      {% else %}
      <a href="/about#profile-links">No webmention targets</a>
    {% endfor %}
   </div>
  </li>
  {% endfor %}
</ul>

{% else %}
<p class="big">No responses.</p>
{% endif %}

<div class="row">
<div class="col-sm-3">
  {% if responses_after_link %}
    <a href="{{ responses_after_link }}">&larr; Newer</a>
  {% endif %}
</div>

<div class="col-sm-3 col-sm-offset-6">
  {% if responses_before_link %}
    <a href="{{ responses_before_link }}">Older &rarr;</a>
  {% endif %}
</div>
</div>

{% endif %}
</div>


<!-- Publishes -->
<div class="row">
{% if "publish" in source.features %}
{% if publishes %}
<p id="publishes" class="big">Published:</p>
<ul class="user-items">
  {% for publish in publishes %}
  <li class="row h-bridgy-publish h-bridgy-{{ publish.type_label() }}">
   <data class="p-bridgy-status" value="{{ publish.status }}" />
   <div class="col-sm-4">
     {{ publish.pretty_page|safe }}

   </div><div class="col-sm-4">
     {{ logs.maybe_link(publish.updated, publish.key, link_class='u-bridgy-log')|safe }}
     {% if publish.status == 'failed' %}
      <span title="Error" class="glyphicon glyphicon-exclamation-sign"></span>
     {% else %}{% if publish.status == 'new' %}
      <span title="Processing" class="glyphicon glyphicon-transfer"></span>
     {% endif %}{% endif %}
    </a>

   </div><div class="col-sm-4">
     {% if publish.published.url %}
       <a class="u-syndication" href="{{ publish.published.url }}">
     {% endif %}
     {{ publish.type_label() }}
     {% if publish.published.url %}
       </a>
     {% endif %}

   </div>
  </li>
  {% endfor %}
</ul>

{% else %}
<p class="big">Nothing published yet.</p>
{% endif %}
{% endif %}
</div>

{% endblock %}
